/* SITE FONTS  */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
    url('./fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.woff2') format('woff2'),
    url('./fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
    url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




/* CUSTOM PROPERTY */

:root {
  --text-color: #333;
  --brand-green-color: #0a775f;
  --brand-hover-color: #C9514C;
  --white-bg-color: #fff;

}


/* global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

*:focus {
  outline: var(--brand-green-color) 1px dashed;
  outline-offset: 3px;
}

html {
  height: 100%;
  scroll-behavior: smooth;

}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white-bg-color);
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
  overflow-x: hidden;

}


/* contayner styles */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* contayner styles end*/

/* button styles */

.site-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 1px;
  padding: 16px 24px 16px 24px;
  border-radius: 100px;
  background-color: transparent;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}

/* button styles end*/

/* global styles end*/


/* SHEADER STYLES */
.header-and-hero-wraper {
  background-image: url("./img/header-and-hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.site-header {
  padding: 40px 0px;
}

.site-header-container {
  padding: 0px 50px 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo-link {}

.site-logo-img {
  width: 235px;
  height: 24px;
  display: block;
  object-fit: contain;
}

.site-nav-list {
  display: flex;
  align-items: center;
}

.site-nav-list-item {}

.site-nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.item-link {
  font-weight: 700;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  color: var(--text-color);
}

/* SHEADER STYLES END */
/* HERO STYLE */
.site-hero {}

.site-hero-container {
  display: flex;
  padding: 0;
}

.site-hero-content {
  padding-top: 115px;
  padding-left: 100px;
  padding-right: 116px;
}

.contetn-title {
  width: 447px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000;
  margin-bottom: 24px;
}

.content-text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 34px;

}

.conent-btn {
  background-color: var(--brand-green-color);
}

.site-hero-img-div {
  position: relative;
}

.hero-roun-img {
  position: absolute;
  width: 213px;
  height: 214px;
  top: -81px;
  left: -92px;
}

.hero-index-img {
  display: block;
  width: 665px;
  height: 696px;
}

/* HERO STYLE END */
/* SECTION MAIN STYLES */
.main {
  flex-grow: 1;
}

/* oUR COLLECTION STYLES */
.our-collection {
  padding-top: 20px;
  padding-bottom: 20px;
}

.our-collection-inner {
  background-image: url("./img/our-collection-bg.png");
  padding: 50px 0px 50px 0px;
  position: relative;
}

.our-collection-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 50px;
  line-height: 58.59px;
  color: #000;
}

.our-collection-list {
  width: 100%;
  max-width: 1114px;
  margin-right: auto;
  margin-left: auto;
}

.our-collection-item {
  display: flex;
  align-items: center;
}

.our-collection-item:nth-child(odd) .our-collection-item-content {
  padding-left: 117px;
  padding-right: 117px;
}


.our-collection-item-img {
  width: 450px;
  height: 375px;
}


.our-collection-item-content {
  padding-right: 117px;
  padding-left: 117px;
}

.content-title {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 10px;
  line-height: 56px;
  color: var(--text-color);
  text-transform: uppercase;
}

.content-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: var(--text-color);
}

/* oUR COLLECTION STYLES END  */
.left-leaf {
  position: absolute;
  top: 40px;
  left: -178px;
}

.left-light-leaft {
  position: absolute;
  bottom: 170px;
  left: -205px;
}

.right-leaft {
  position: absolute;
  bottom: 678px;
  right: -180px;
  z-index: 2;
}

.right-light-leaf {
  position: absolute;
  bottom: 695px;
  right: -175px;
  z-index: 1;

}

/* SECTION WOIS CHOIS STYLE  */
.wois-choes {}

.wois-choes-inner {
  background-image: url("./img/wois-choes-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 700px;
  padding: 50px 30px 80px 30px;
}

.wois-choes-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 58.59px;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.wois-choes-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  width: 581px;
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;
  opacity: 80%;
  color: #FFFFFF;
  margin-bottom: 80px;
}

.wois-choes-list {
  display: flex;
  justify-content: space-between;


}

.wois-choes-list-item {
   
}

.wois-choes-list-item-img {
  width: 433px;
  height: 500px;
}

.wois-choes-list-item-title {

}

.wois-choes-list-item-text {

}

/* SECTION WOIS CHOIS STYLE END  */

/* SECTION MAIN STYLES END*/

/* reatina image styles */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .header-and-hero-wraper {
    background-image: url("./img/header-and-hero-bg@2x.png");
  }

  .our-collection-inner {
    background-image: url("./img/our-collection-bg@2x.png");
  }

  .wois-choes {
    background-image: url("./img/wois-choes-bg@2x.png");
  }
}



/* reatina image styles end */